<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      src="https://www.expatrio.com/themes/expatrio/logo.svg"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="navbar-text" *ngIf="isAuthenticated | async">
    Welcome {{ currentUserFirstName | async }}!
  </span>

  <button
    class="btn btn-outline-info my-2 my-sm-0"
    (click)="logout()"
    *ngIf="isAuthenticated | async"
  >
    Logout
  </button>
  <button
    class="btn btn-outline-info my-2 my-sm-0"
    (click)="login()"
    *ngIf="!(isAuthenticated | async)"
  >
    Login
  </button>
</nav>
