<!-- Image and text -->
<nav class="navbar navbar-dark bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    <img
      src="https://www.expatrio.com/themes/expatrio/logo.svg"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <span class="navbar-text" *ngIf="isAuthenticated">
    Welcome Ted!
  </span>

  <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()" *ngIf="isAuthenticated">
    Logout
  </button>
  <button class="btn btn-outline-info my-2 my-sm-0" (click)="login()" *ngIf="!isAuthenticated">
    Login
  </button>

</nav>
