<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Username</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(users | async).length === 0">
      <td class="py-3 text-black-50 text-center" colspan="5">No users</td>
    </tr>
    <tr *ngFor="let user of users | async; let i = index">
      <th scope="row">{{ i + 1 + currentPage * pageSize }}</th>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.userName }}</td>
      <td class="d-flex">
        <button
          (click)="editUser(user)"
          class="btn btn-sm rounded-circle btn-info"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          class="btn btn-sm rounded-circle btn-danger ml-2"
          [popover]="popTemplate"
          [popoverContext]="{
            userId: user.id
          }"
          [outsideClick]="true"
        >
          <i class="fa fa-trash"></i>
        </button>
        <ng-template #popTemplate let-userId="userId">
          <div class="d-flex flex-column">
            Are you sure you want to delete this?
            <button
              (click)="deleteUser(userId)"
              class="btn btn-outline-danger btn-sm ml-auto mt-1"
            >
              Yes
            </button>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
